<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <p id="p1">
        @CodingNinjas, All Rights Reserved
    </p>
    <p id="p2">
        Home
    </p>
    <p id="p3">
        Profile
    </p>
</div>
